{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Политика конфиденциальности</title>
    <link rel="stylesheet" href="{% static 'css/info_pages.css' %}">
</head>
<body>

<div class="page-background">
    <div class="info-container">
        <a href="{% url 'main_page' %}" class="back-link">← Вернуться в сектор</a>

        <h1 class="info-title">Политика конфиденциальности</h1>

        <div class="info-content">
            <h2>Сбор данных</h2>
            <p>Святая Инквизиция и сервиторы нашего сайта собирают только ту информацию, которая необходима для успешной доставки ваших миниатюр: имя (позывной), координаты вашего улья (адрес) и частоту вокс-кастера (номер телефона или email).</p>

            <h2>Защита информации</h2>
            <p>Ваши данные надежно зашифрованы литаниями защиты Адептус Механикус. Мы клянемся Золотым Троном, что ваша персональная информация никогда не будет передана агентам Хаоса, шпионам Альфа-Легиона или третьим лицам без вашего прямого согласия, за исключением случаев, предусмотренных законами Империума.</p>

            <h2>Использование файлов Пикт-кодов (Cookies)</h2>
            <p>Наш сайт использует небольшие фрагменты данных для идентификации вашего терминала. Это помогает сохранять содержимое вашей корзины, даже если связь с сервером была временно утеряна из-за сбоев в астропатической сети.</p>
        </div>
    </div>
</div>

</body>
</html>