{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ product.title }}</title>
    <link rel="stylesheet" href="{% static 'css/product/chaos.css' %}">
    <link rel="stylesheet" href="{% static 'css/product/diteils.css' %}">
</head>
<body>

<div class="page-background">
    <div class="detail-container">

        <!-- КНОПКА НАЗАД -->
        <a href="{% url 'product:chaos_list' %}" class="back-btn">← Назад в каталог</a>

        <h1 class="detail-title">{{ product.title }}</h1>

        {% if product.image_main %}
            <img src="{{ product.image_main.url }}" alt="{{ product.title }}" class="detail-img">
        {% else %}
                        <img src="{% static 'images/no_image.webp' %}" alt="Изображение отсутствует" class="product-img">
        {% endif %}

        <div class="info-block">
            <p><strong>Фракция / Раса:</strong> {{ product.race_type }}</p>
            <p><strong>Тип набора:</strong> {{ product.set_type }}</p>
            <p><strong>Материал:</strong> {{ product.material }}</p>
            <p><strong>В наборе:</strong> {{ product.miniatures_count }} шт.</p>
        </div>

        {% if product.description %}
        <div class="description-block">
            <h3>Описание:</h3>
            <p>{{ product.description|linebreaks }}</p>
        </div>
        {% endif %}

    </div>
</div>

</body>
</html>