{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Космодесант</title>

    <!-- ПОДКЛЮЧАЕМ НАШ НОВЫЙ CSS ФАЙЛ -->
    <link rel="stylesheet" href="{% static 'css/space_marines.css' %}">
</head>
<body>

<div class="page-background">
    <div class="container">
        <h1 class="page-title">Разрозденый не постоянный варп</h1>

        <!-- Баннер -->
        <div class="container-ul-div">
            <ul class="container-ul">
                <li><img class="container-ul-img" src='{% static "images/8e_SM_Space_Marines_Icon.png" %}' alt="Инквизиция"></li>
                <li><h1 class="container-ul-h1">Легионы Хаоса</h1></li>
                <li><img class="container-ul-img" src='{% static "images/8e_SM_Space_Marines_Icon.png" %}' alt="Инквизиция"></li>
            </ul>
        </div>

        <!-- Кнопки навигации (Ведут на общий каталог или другие расы) -->
        <div class="faction-nav">
            <a href="{% url 'product:product_list' %}" class="faction-btn">← В главный каталог</a>
        </div>

        <!-- Сетка с продуктами -->
        <div class="product-grid">
            {% for product in products %}

            <div class="product-card">
                 <a href="{% url 'product:chaos_details' product.pk %}" style="text-decoration: none;">
                    {% if product.image_main %}
                        <img src="{{ product.image_main.url }}" alt="{{ product.title }}" class="product-img">
                    {% else %}
                        <div class="product-img-placeholder">Нет фото</div>
                    {% endif %}

                    <!-- Ссылка на детали КОНКРЕТНО Космодесанта -->


                    <div class="product-details">
                        <p><strong>Орден/Фракция:</strong> {{ product.faction }}</p>
                        <p><strong>Тип набора:</strong> {{ product.set_type }}</p>
                        <p><strong>Материал:</strong> {{ product.material }}</p>
                        <p><strong>В наборе:</strong> {{ product.miniatures_count }} шт.</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

</body>
</html>